<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CSCB63 Design and Analysis of Data Structures</title>
        <link rel="stylesheet" href="../static/assignments.css"/>
    </head>
    <body>
        <main>
            <div id="nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home" target="_blank">PIAZZA</a></li>
                    <li><a href="https://markus.utsc.utoronto.ca/cscb20w21/assignments" target="_blank">MARKUS</a></li>
                    <li><a href="/tutorials">TUTORIALS</a></li>
                    <li><a class="active" href="#">ASSIGNMENTS</a></li>
                    <li><a href="/marks">MARKS</a></li>
                    <li><a href="/course-team">COURSE TEAM</a></li>
                    <li><a href="/feedback">FEEDBACK</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </div>
            <div id="header">
                <h1><b>CSCB63: Design and Analysis of Data Structures</b></h1>
                <h2><b>The University of Toronto Scarborough</b></h2>
            </div>
            <!-- CONTENT -->
            <h3><b>Assignments</b></h3>
            <hr>
            <details>
                <summary class="section"><b>Assignment 1<b></summary>
                    <p>
                        <b>Due Feb. 7th, 2021 at 12 PM EST<b><br>
                        <a href="../static/files/assignment.pdf" target="_blank"><b>a1.pdf</b></a><br>
                        <a href="../static/files/assignment.tex" target="_blank"><b>a1.tex</b></a><br>
                    </p>
            </details>
            <details>
                <summary class="section"><b>Assignment 2<b></summary>
                    <p>
                        <b>Due Mar. 6th, 2021 at 11:59 PM EST<b><br>
                            <a href="../static/files/assignment.pdf" target="_blank"><b>a2.pdf</b></a><br>
                            <a href="../static/files/assignment.tex" target="_blank"><b>a2.tex</b></a><br>
                    </p>
            </details>
            <details>
                <summary class="section"><b>Assignment 3<b></summary>
                    <p>
                        <b>Due Mar. 23th, 2021 at 12 PM EST<b><br>
                            <a href="../static/files/assignment.pdf" target="_blank"><b>a3.pdf</b></a><br>
                            <a href="../static/files/assignment.tex" target="_blank"><b>a3.tex</b></a><br>
                    </p>
            </details>
        </main>
        <footer>
            <p>
                <a id="dept-link" href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Faculty of Computer Science</a><br>
                Site designed and created by Oceana Ling-Kurie, Xiwei Tian, and William Rutherford<br>
                CSCB20 Winter 2021
            </p>
        </footer>
    </body>
</html>