<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CSCB63 Design and Analysis of Data Structures</title>
        <link rel="stylesheet" href="../static/course-team.css"/>
    </head>
    <body>
        <main>
            <div id="nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home" target="_blank">PIAZZA</a></li>
                    <li><a href="https://markus.utsc.utoronto.ca/cscb20w21/assignments" target="_blank">MARKUS</a></li>
                    <li><a href="/tutorials">TUTORIALS</a></li>
                    <li><a href="/assignments">ASSIGNMENTS</a></li>
                    <li><a href="/marks">MARKS</a></li>
                    <li><a class="active" href="#">COURSE TEAM</a></li>
                    <li><a href="/feedback">FEEDBACK</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </div>
            <div id="header">
                <h1><b>CSCB63: Design and Analysis of Data Structures</b></h1>
                <h2><b>The University of Toronto Scarborough</b></h2>
            </div>
            <!-- CONTENT -->
            <h3><b>Course Team</b></h3>
            <hr>
            <div class="team">
                <p>
                    <img id="prof-img" src="../static/pics/Anna_Bretscher.jpg" border="2" width="120" height="150">
                    <br><br><br><b>Professor: Dr. Anna Bretscher<b><br>
                    Email: <a href="mailto:anna.bretscher@utoronto.ca" target="_blank">anna.bretscher@utoronto.ca</a><br>
                    Office: IC 493<br><br>
                </p>
            </div>
            <div class="team">
                <p>
                    <img id="ta1-img" src="../static/pics/Oceana_LingKurie.jpg" border="2" width="120" height="150">
                    <br><br><br><b>Teaching Assistant: Oceana Ling-Kurie<b><br>
                    Email: <a href="mailto:oceana.lingkurie@mail.utoronto.ca" target="_blank">oceana.lingkurie@mail.utoronto.ca</a><br>
                    Office: IC 388<br><br>
                </p>
            </div>
            <div class="team">
                <p>
                    <img id="ta2-img" src="../static/pics/Elson_Leung.jpg" border="2" width="120" height="150">
                    <br><br><br><b>Teaching Assistant: Elson Leung<b><br>
                    Email: <a href="mailto:lson.leung@mail.utoronto.ca" target="_blank">lson.leung@mail.utoronto.ca</a><br>
                    Office: IC 388<br><br>
                </p>
            </div>
        </main>
        <footer>
            <p>
                <a id="dept-link" href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Faculty of Computer Science</a><br>
                Site designed and created by Oceana Ling-Kurie, Xiwei Tian, and William Rutherford<br>
                CSCB20 Winter 2021
            </p>
        </footer>
    </body>
</html>