<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CSCB63 Design and Analysis of Data Structures</title>
        <link rel="stylesheet" href="../static/tutorials.css"/>
    </head>
    <body>
        <main>
            <div id="nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home" target="_blank">PIAZZA</a></li>
                    <li><a href="https://markus.utsc.utoronto.ca/cscb20w21/assignments" target="_blank">MARKUS</a></li>
                    <li><a class="active" href="#">TUTORIALS</a></li>
                    <li><a href="/assignments">ASSIGNMENTS</a></li>
                    <li><a href="/marks">MARKS</a></li>
                    <li><a href="/course-team">COURSE TEAM</a></li>
                    <li><a href="/feedback">FEEDBACK</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </div>
            <div id="header">
                <h1><b>CSCB63: Design and Analysis of Data Structures</b></h1>
                <h2><b>The University of Toronto Scarborough</b></h2>
            </div>
            <!-- CONTENT -->
            <h3><b>Tutorials</b></h3>
            <hr>
            <div class="table">
                <div class="column">
                    <div class="row">WEEK</div>
                    <div class="row">1</div>
                    <div class="row">2</div>
                    <div class="row">3</div>
                    <div class="row">4</div>
                    <div class="row">5</div>
                    <div class="row">6</div>
                    <div class="row">7</div>
                </div>
                <div class="column">
                    <div class="row">TOPIC</div>
                    <div class="row">No Tutorial</div>
                    <div class="row">Worst Case Complexity</div>
                    <div class="row">AVL Trees Insert/Delete</div>
                    <div class="row">Practice Term test format</div>
                    <div class="row">Graph Search Algorithms</div>
                    <div class="row">MSTs and Prims Algorithm</div>
                    <div class="row">Dijkstra</div>
                </div>
                <div class="column">
                    <div class="row">HANDOUT</div>
                    <div class="row"></div>
                    <div class="row"><a href="../static/files/w2.pdf" target="_blank">Handout</a></div>
                    <div class="row"><a href="../static/files/w2.pdf" target="_blank">Handout</a></div>
                    <div class="row"></div>
                    <div class="row">
                        <a href="../static/files/w2.pdf" target="_blank">BFS Handout</a>
                        <a href="../static/files/w2.pdf" target="_blank">BFS Practice</a>
                    </div>
                    <div class="row"><a href="../static/files/w2.pdf" target="_blank">Handout</a></div>
                    <div class="row"><a href="../static/files/w2.pdf" target="_blank">Handout</a></div>
                </div>
                <div class="column">
                    <div class="row">SOLUTIONS</div>
                    <div class="row"></div>
                    <div class="row"><a href="../static/files/w2_soln.pdf" target="_blank">Solution</a></div>
                    <div class="row"><a href="../static/files/w2_soln.pdf" target="_blank">Solution</a></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
             </div>
        </main>
        <footer>
            <p>
                <a id="dept-link" href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Faculty of Computer Science</a><br>
                Site designed and created by Oceana Ling-Kurie, Xiwei Tian, and William Rutherford<br>
                CSCB20 Winter 2021
            </p>
        </footer>
    </body>
</html>